@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
}


.container-topo {
    margin: 44px 0 0 76px;
}

.link-menu {
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #989D9C;
    margin-left: 23px;
    cursor: pointer;
}

.button-menu {
    width: 130px;
    height: 41px;
    opacity: 1;
    border-radius: 50px;
    margin-left: 23px;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    line-height: 100%;
    letter-spacing: 0%;
    background: #665AE1;
    border: none;
    cursor: pointer;
}

.container-rigth {
    display: inline-block;
    margin-top: 217px;
    margin-right: 148px;
    margin-left: 776px;
}

h1 {
    width: 513px;
    height: 122px;
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    color: #515151;
    margin-left: 10px;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    color: #515151;
    margin-left: 20px;

}

p {
    width: 515px;
    height: 87px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #848484;
}

.button-explore {
    width: 239px;
    height: 64px;
    opacity: 1;
    border-radius: 50px;
    background: #ADFF00;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: black;
    border: none;
    cursor: pointer;
}

img {
    display: inline-block;
    width: 568px;
    height: 500px;
    opacity: 1;
    margin: -417px 0px 183px 125px;

}

.button-explore:hover {
    opacity: .8;
}

.button-explore:active {
    opacity: .5;
}


@media screen and (max-width: 803px) {
    .container-topo {
        display: none;
    }

    .container-rigth {
        margin-top: 490px;
        margin-right: 63px;
        margin-bottom: 258px;
        margin-left: 63px;

    }

    h1 {
        width: 263px;
        height: 52px;
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        color: #515151;
        position: relative;
        margin-left: 15px;
    }

    h2 {
        width: 232px;
        height: 37px;
        opacity: 1;
        font-weight: 500;
        font-size: 30px;
        line-height: 100%;
        margin-left: 25px
    }

    p {
        display: none;
    }

    img {
        width: 354px;
        height: 317px;
        margin: -783px 35px 462px 28px;
    }

    .button-explore {
        width: 239px;
        height: 64px;
        opacity: 1;
        border-radius: 50px;
        margin-left: 20px;
    }
}